.homePage {
    text-align: center;
    padding-top: 90px;
}
.homePage h2 {
    font-size: 60px;
    margin: 5px;
}
.homePage h3 {
    font-size: 48px;
}
.homePage p {
    color: whitesmoke;
    font-size: 1.5rem;
}
.homePage .avatarName img {
    height: 200px;
}
.homePage .socialNetwork a {
    margin: 15px;
    display: inline-block;
}
.homePage .socialNetwork img,
.homePage .socialNetwork .icons {
    vertical-align: middle;
}
.homePage .socialNetwork img {
    height: 56px;
}
.homePage .socialNetwork #githubIcon:hover {
    color: #817f7f;
}
.homePage .socialNetwork #linkedinIcon:hover {
    color: #0e76a8;
}
.homePage .icons {
    margin: 0;
    color: white;
    font-size: 60px;
}
.btnContact {
    margin: 35px;
    padding: 15px;
    display: inline-block;
    background-color: var(--primary-blue);
    border-radius: 10px;
    font-size: 1.5rem;
    color: white;
    text-decoration-line: none;
}
.btnContact:hover {
    background-color:deepskyblue;
}