.projects {
    width: 1100px;
    display:flex;
    flex-direction: column;
    padding-top: 60px;
}
.projects h2 {
    text-align: center;
    margin: 10px;
}
.infoProject {
    display: grid;
    grid-template-columns: auto auto;
}