#experiences {
    padding-top: 80px;
}
.experience {
    background-color: var(--secondary-gray);
    margin: 25px 12px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
}
.experience #organization {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-blue);
}
.experience h5, .experience li {
    color: whitesmoke;
}