.tecnicalSkills {
    padding-top: 80px;
}
.tech {
    text-align: center;
    align-items: center;
    padding: 20px;
}
.tech img{
    width: 100px;
    height: 100px;
}
.tech h3 {
    font-size: 36px;
}
.tech .icons {
    width: 25px;
    color: #fff903;
}